$header_color: linear-gradient(166deg, rgba(167,79,1,1) 0%, rgba(255,124,25,1) 42%);

$white_color_text: #ffffff;
$results_background: #F7F7F7;
$black: black;
$dropdown_gray: #E2EEF4;

$footer_background: #363B3E;
$footer_dark_background: #363B3E;
$footer_btn_color: #2C89B5;
$gray_text_footer: #8F989D;
$footer_light_gray: #B4BDC2;